<!-- Trustpilot Reviews Section -->
<div class="trustpilot-stars-wrapper" style="margin: 20px 0; text-align: center;">
  <a href="#aus-tp-slider" class="reviews_stars">
    <style>
      .reviews_stars {
        display: flex;
        gap: 10px;
        align-items: center;
        text-decoration: none;
        color: #000000;
        justify-content: center;
        margin: 0 auto;
      }
      .reviews_stars .stars {
        display: flex;
        gap: 1px;
        max-width: 90px;
      }
      .reviews_stars .ratings span {
        white-space: nowrap;  
        font-size: 14px;
        font-weight: 500;
      }
      .star-svg {
        width: 20px;
        height: 20px;
      }
      @media (max-width: 768px) {
        .reviews_stars {
          justify-content: center;
        }
        .star-svg {
          width: 18px;
          height: 18px;
        }
        .reviews_stars .ratings span {
          font-size: 13px;
        }
      }
    </style>
    <div class="stars">
      <svg class="star-svg" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M32 0H0V32H32V0Z" fill="#E3E3E3"></path>
        <path class="star-indicator" d="M32 0H0V32H32V0Z" fill="#00B67A"></path>
        <mask id="mask0_star_1" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="5" y="5" width="22" height="22">
          <path d="M27 5H5V27H27V5Z" fill="white"></path>
        </mask>
        <g mask="url(#mask0_star_1)">
          <path d="M9.20283 27L16.001 21.807L22.7972 27L20.2018 18.596L27 13.403H18.5984L16.001 5L13.4037 13.403H5L11.7982 18.596L9.20283 27Z" fill="white"></path>
        </g>
      </svg>
      <svg class="star-svg" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M32 0H0V32H32V0Z" fill="#E3E3E3"></path>
        <path class="star-indicator" d="M32 0H0V32H32V0Z" fill="#00B67A"></path>
        <mask id="mask0_star_2" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="5" y="5" width="22" height="22">
          <path d="M27 5H5V27H27V5Z" fill="white"></path>
        </mask>
        <g mask="url(#mask0_star_2)">
          <path d="M9.20283 27L16.001 21.807L22.7972 27L20.2018 18.596L27 13.403H18.5984L16.001 5L13.4037 13.403H5L11.7982 18.596L9.20283 27Z" fill="white"></path>
        </g>
      </svg>
      <svg class="star-svg" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M32 0H0V32H32V0Z" fill="#E3E3E3"></path>
        <path class="star-indicator" d="M32 0H0V32H32V0Z" fill="#00B67A"></path>
        <mask id="mask0_star_3" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="5" y="5" width="22" height="22">
          <path d="M27 5H5V27H27V5Z" fill="white"></path>
        </mask>
        <g mask="url(#mask0_star_3)">
          <path d="M9.20283 27L16.001 21.807L22.7972 27L20.2018 18.596L27 13.403H18.5984L16.001 5L13.4037 13.403H5L11.7982 18.596L9.20283 27Z" fill="white"></path>
        </g>
      </svg>
      <svg class="star-svg" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M32 0H0V32H32V0Z" fill="#E3E3E3"></path>
        <path class="star-indicator" d="M32 0H0V32H32V0Z" fill="#00B67A"></path>
        <mask id="mask0_star_4" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="5" y="5" width="22" height="22">
          <path d="M27 5H5V27H27V5Z" fill="white"></path>
        </mask>
        <g mask="url(#mask0_star_4)">
          <path d="M9.20283 27L16.001 21.807L22.7972 27L20.2018 18.596L27 13.403H18.5984L16.001 5L13.4037 13.403H5L11.7982 18.596L9.20283 27Z" fill="white"></path>
        </g>
      </svg>
      <svg class="star-svg" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M32 0H0V32H32V0Z" fill="#E3E3E3"></path>
        <path class="star-indicator" d="M32 0H0V32H32V0Z" fill="#00B67A"></path>
        <mask id="mask0_star_5" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="5" y="5" width="22" height="22">
          <path d="M27 5H5V27H27V5Z" fill="white"></path>
        </mask>
        <g mask="url(#mask0_star_5)">
          <path d="M9.20283 27L16.001 21.807L22.7972 27L20.2018 18.596L27 13.403H18.5984L16.001 5L13.4037 13.403H5L11.7982 18.596L9.20283 27Z" fill="white"></path>
        </g>
      </svg>
    </div>
    <div class="ratings">
      <span>Beloved by 17,280+ people</span>
    </div>
  </a>
</div>

{% schema %}
{
  "name": "trustpilot-reviews"
}
{% endschema %}